html, body
{
    font-family: Arial;
    font-size: 1.0em;
    margin:0;
    padding: 0;
}

hr {
    margin: 0;
}
h1
{
    font-size: 1em;
    text-align: center;
    margin: 2px;
}

h2
{
    font-size: 0.8em;
    text-align: left;
    margin: 0px;
}

a {
    font-style: normal;
    text-decoration: none;
    display: block;
    background-color: black;
    padding:15px 3px;
    border-radius: 5px;
    margin:3px;
    color:white;
}

label {
    font-size: 1.3em;
}

table.ancha {
    width: 100%;
}

table.bordes td, table.bordes th {
    border: 1px solid #DDD;
}

table.estandar {
    border-collapse: collapse;
    vertical-align: middle;                                                                             
}
table.estandar td, table.estandar th {
    margin:0;
    border: none;
    padding: 0;
}

table.amplia td, table.amplia th {
    padding: 10px 0;
}

table.delgada td, table.delgada th {
    padding: 0;
}


table.zebra tr:nth-child(odd) td
{
  background-color:#FFE4C6;
}


input[type="text"], input[type="number"], button {
    height: 40px;
    font-size: 0.8em;
    text-align: center;
}

input[type="text"], input[type="number"] {
    font-size: 1.1em;
    padding: 0;
    font-weight: bold;
    color: blue;
}

input[type=checkbox]
{
  padding: 0px;
}

input[type=checkbox]:focus
{
    border: 1px solid red;
    outline:5px solid red;
}

ul {
    padding-left:20px;
}
/* ayudantes */

.container {
    overflow: hidden;
    clear: both;
}
.right {
    float: right;
    width: 100px;
    height: 100%;
    max-height: 100%;
}
.left {
    float: left;
    width: 100px;
    height: 100%;
    max-height: 100%;
}
.middle {
    margin: 0 100px;
    height: 100%;
    max-height: 100%;
}

/* especificos */
#seleccion_producto td {
    vertical-align: top;
}

#menu {
    margin-bottom: 4px;
    width: 100%;
}

#menu td {
    text-align: center;
}

#menu td a {
    text-align: center;
    display: block;
}

#menu_bebidas
{
    position: fixed;
    right: 10px;
    bottom: 20px;
    width: 30px;
}
#menu_bebidas td {
    vertical-align: middle;
}    

#menu_bebidas td a {
    font-size: 0.8em;
    text-align: center;
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
}

#menu_productos  {
    position: fixed;
    table-layout: fixed;
    bottom: 1px;
    width: 78%;
}

#menu_productos td {
    padding: 0 5px;
}

#menu_productos td a {
    display: block;
	border: 2px solid black;
    height: 20px;
    line-height: 20px;
    width: 100%;
    text-align: center;
    font-size:1em;
	text-shadow: 1px 1px #555;
}

#content {
    position: relative;
}

#scroller {
    position:fixed;
    left:0;
    top:65px;
    bottom: 60px;
    width:80%;
    overflow-y: auto;
}

#info_principal {
    position:fixed;
    right:0;
    top:60px;
    bottom: 55px;
    width:20%;
    overflow-y: auto;
    border-left:1px solid grey;
    font-size:0.8em;
}

#info_extendida {
    font-size: 1.5em;
    font-family: monospace;
}

#pedido .producto {
    background-color: #EEE;
    border: 1px #CCC dashed;
    border-radius: 10px;
    padding: 10px;
    height:40px;
    position: relative;
    margin-bottom: 10px;
}

#pedido .foto_producto {
    width: 128px;
    height: 128px;
}

#pedido .fragmento_asiento {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.agregar_producto {
    display: inline-block;
    font-size: 14px;
    border: 3px solid black;
    margin: 1px;
    width: 200px;
    height: 60px;
    line-height:60px;
    position: relative;
    cursor: pointer;
    text-align:center;
    font-family: Helvetica, Arial, sans serif;
    padding: 8px 12px; 
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    box-shadow: inset 0px 0px 2px #fff;
    -o-box-shadow: inset 0px 0px 2px #fff;
    -webkit-box-shadow: inset 0px 0px 2px #fff;
    -moz-box-shadow: inset 0px 0px 2px #fff;
}
.agregar_producto:active {
    box-shadow: inset 0px 0px 3px #999;
    -o-box-shadow: inset 0px 0px 3px #999;
    -webkit-box-shadow: inset 0px 0px 3px #999;
    -moz-box-shadow: inset 0px 0px 3px #999;
}

.agregar_producto:hover, .agregar_producto:focus {
    color: yellow;
}

.agregar_producto div {
    text-wrap: none;
    white-space: nowrap;
    position: relative;
    float:left;
    cursor: pointer;
}

.agregar_producto .nombre {
    width:185px;
    text-align:center;
    font-weight: bold;
}

.agregar_producto .precio {
	display: none;
    width:0px;

    padding-right:1px;
    text-align:right;
}

#simplemodal-overlay {background-color:#DDD;z-index:999;}
#simplemodal-container {background-color:#FFF; border:8px solid #444; padding:12px;}
#simplemodal-container button {
    font-size: 1.2em;
}

div.orden {
    border: 1px solid #666;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    position: relative;
    display: inline-block !important;
    vertical-align: top;
    min-width: 170px;
}

span.grupo {
    font-size: 1.2em;
    position: absolute;
    color: #666;
    left: 10px;
    top: 5px;
}

.adicionales ul, .ingredientes ul {
    margin-top: 1px;
    padding-left: 20px;
    color: #A5A5A5;
}
    
span.precio {
    font-size: 1.2em;
    position: absolute;
    color: #666;
    right: 10px;
    top: 5px;
    padding-left: 5px;
}


div.pedido {
    margin: 4px;
    padding: 0 4px;
    position: relative;
}

div.pedido:before {
    content: "► ";
    float: left;
    margin-right: 2px;
}

.filtro_adicionales {
    font-size:8pt;
}

@keyframes pulse {
  00% { background-color: #FF0; }
  33% { background-color: #F00; }
  66% { background-color: #0F0; }
}

.pulso {
  animation: pulse 1s ease-out 5;
}

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #000000;
	display:inline-block;
	color:#2b2a2b;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:24px;
	line-height:20px;
	min-width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
        margin: 1px;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.btn:active {
	position:relative;
	top:1px;
}

#resultados {
    width:100%;
    table-layout: fixed;
}

#resultados td {
    border: 1px solid grey;
    text-align: center;
    vertical-align: top;
}

.botones_grandes button {
    min-width: 100px;
}

.grupo1 {
    color: #41788c;
    border: 1px solid #6fb1c7;
    background-image: -moz-linear-gradient(#aae5f7, #73d0f1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#73d0f1), to(#aae5f7));
    background-image: -webkit-linear-gradient(#aae5f7, #73d0f1);
    background-image: -o-linear-gradient(#aae5f7, #73d0f1);
    text-shadow: 1px 1px 1px #bfeafb;
    background-color: #73d0f1;
}
.grupo1:hover{
    border: 1px solid #4690ad;
    background-image: -moz-linear-gradient(#73d0f1, #aae5f7);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aae5f7), to(#73d0f1));
    background-image: -webkit-linear-gradient(#73d0f1, #aae5f7);
    background-image: -o-linear-gradient(#73d0f1, #aae5f7);
    background-color: #aae5f7;
}
.grupo2 {
    color: #5a742d;
    border: 1px solid #95b959;
    background-image: -moz-linear-gradient(#cae387, #a5cb5e);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5cb5e), to(#cae387));
    background-image: -webkit-linear-gradient(#cae387, #a5cb5e);
    background-image: -o-linear-gradient(#cae387, #a5cb5e);
    text-shadow: 1px 1px 1px #dff4bc;
    background-color: #a5cb5e;
}
.grupo2:hover {
    border: 1px solid #687e30;
    background-image: -moz-linear-gradient(#a5cb5e, #cae387);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cae387), to(#a5cb5e));
    background-image: -webkit-linear-gradient(#a5cb5e, #cae387);
    background-image: -o-linear-gradient(#a5cb5e, #cae387);
    background-color: #cae387; 
}
.grupo3 {
    color: #986a39;
    border: 1px solid #e6b650;
    background-image: -moz-linear-gradient(#ffd974, #febf4d);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#febf4d), to(#ffd974));
    background-image: -webkit-linear-gradient(#ffd974, #febf4d);
    background-image: -o-linear-gradient(#ffd974, #febf4d);
    text-shadow: 1px 1px 1px #fbe5ac;
    background-color: #febf4d;
}

.grupo3:hover {
    border: 1px solid #c1913d;
    background-image: -moz-linear-gradient(#febf4d, #ffd974);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd974), to(#febf4d));
    background-image: -webkit-linear-gradient(#febf4d, #ffd974);
    background-image: -o-linear-gradient(#febf4d, #ffd974);
    background-color: #ffd974;   
}

.grupo4 {
    color: #57646d;
    border: 1px solid #929ba2;
    background-image: -moz-linear-gradient(#bbcbd8, #8ea5b5);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8ea5b5), to(#bbcbd8));
    background-image: -webkit-linear-gradient(#bbcbd8, #8ea5b5);
    background-image: -o-linear-gradient(#bbcbd8, #8ea5b5);
    text-shadow: 1px 1px 1px #c6d4df;
    color: #000;
    background-color: #8ea5b5;
}

.grupo4:hover {
    border: 1px solid #656f78;
    background-image: -moz-linear-gradient(#8ea5b5, #bbcbd8);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbcbd8), to(#8ea5b5));
    background-image: -webkit-linear-gradient(#8ea5b5, #bbcbd8);
    background-image: -o-linear-gradient(#8ea5b5, #bbcbd8);
    background-color: #bbcbd8;    
}