.agregar_producto {
    font-size: 0.7em !important;
    font-weight: bold !important;
    border: 2px solid royalblue !important;
    margin: 1px !important;
}

.agregar_producto:hover, .agregar_producto:focus {
    color: yellow;
}

.agregar_producto div {
    text-wrap: none;
    white-space: nowrap;
    position: relative;
    float:left;
    cursor: pointer;
}

.agregar_producto .nombre {
    min-width:100px;
    text-align:left;
    margin-right:2px;
}

.agregar_producto .precio {
    width:65px;
    padding-right:1px;
    text-align:right;
}


button.flecha {
    height: auto;
    line-height: auto;
    width: 12px;
    text-align: center;
}