html, body
{
    font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; 
    font-size: 1.1em;
    height: 100%;
    width:100%;
    margin:0;
    padding: 0;
    background-color: #202020;
    color: #EEE;
    overflow: hidden;
}

h1
{
    font-size: 1em;
    text-align: center;
    margin: 2px;
}

h2
{
    font-size: 0.8em;
    text-align: left;
    margin: 0px;
}

a {
    font-style: normal;
    text-decoration: none;
    display: block;
    background-color: black;
    padding:8px 3px;
    border-radius: 5px;
    margin:3px;
    color:white;
}

label {
    font-size: 1.3em;
}

table.ancha {
    width: 100%;
}

table.bordes td, table.bordes th {
    border: 1px solid #DDD;
}

table.estandar {
    border-collapse: collapse;
    vertical-align: middle;                                                                             
}
table.estandar td, table.estandar th, {
    margin:0;
    border: none;
    padding: 0;
}

table.amplia td, table.amplia th {
    padding: 10px 0;
}

table.zebra tr:nth-child(odd) td
{
  background-color:#FFE4C6;
}


button {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}

input[type="text"], input[type="number"] {
    font-size: 1em;
    padding: 0;
    font-weight: bold;
    color: blue;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin-right: 10px;
}

/* especificos */
table#pedidos {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table#pedidos th {
    font-size: 2.1em;
    font-weight: bold;
    border-bottom: 1px solid #EEE;
    text-align:center; font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; text-shadow:0 0 5px #00c6ff;
    padding: 5px 0;
}
table#pedidos td {
    border-left: 1px solid #EEE;
    height: 1200px;
    vertical-align: top;
    text-align: left;
}

.producto {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.mesa {

}

div#pedidos {
    height: 100%;
}

div.orden {
    border: 1px solid yellow;
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
    position: relative;
    display: inline-block !important;
    vertical-align: top;
}

span.grupo {
    position: absolute;
    color: white;
    left: 10px;
    top: 5px;
}

.adicionales ul, .ingredientes ul {
    padding-left: 5px;
    margin: 0;
}

.adicionales ul li, .ingredientes ul li {
    font-size: 1.3em;
    padding-left: 5px;
    margin-left: 20px;
}
    
span.tiempo {
    position: absolute;
    color: white;
    right: 10px;
    top: 5px;
}


div.pedido {
    margin: 1px;
    padding: 1px;
    position: relative;
}

div.mucho_tiempo {
    border: 1px solid red !important;
}

/* Otras cosas */
/* If you want you can use font-face */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

ul.chivo { margin:0 auto; padding:0px; list-style:none; text-align:center; }
ul.chivo li { display:inline; font-size:4em; text-align:center; font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; text-shadow:0 0 5px #00c6ff; }

#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; padding-left:10px; padding-right:10px; }

/* Simple Animation */
@-webkit-keyframes mymove 
{
    0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
    50% {opacity:0; text-shadow:none; }
    100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}

@-moz-keyframes mymove 
{
    0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
    50% {opacity:0; text-shadow:none; }
    100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}


#simplemodal-overlay {background-color:#DDD;}
#simplemodal-container {background-color:#FFF; border:8px solid #444; padding:12px;}
